<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>GiantBomb</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://(www\.)?giantbomb\.com/api/video/\d{4}\-\d+/</string>
				<string>^https?://(www\.)?giantbomb-pdl\.akamaized\.net/api/video/\d{4}\-\d+/</string>
				<string>^https?://(www\.)?giantbomb-vh\.akamaized\.net/api/video/\d{4}\-\d+/</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
